In [79]:
import pandas as pd
from IPython.core.interactiveshell import InteractiveShell 
InteractiveShell.ast_node_interactivity = "all"
import warnings
warnings.filterwarnings('ignore')

df = pd.read_csv("../Data/BPS_NJ.csv",on_bad_lines="skip",encoding='latin-1')#nrows=10

In [80]:
df.columns

Index(['BLDGS_1_UNIT', 'BLDGS_1_UNIT_REP', 'BLDGS_2_UNITS',
       'BLDGS_2_UNITS_REP', 'BLDGS_3_4_UNITS', 'BLDGS_3_4_UNITS_REP',
       'BLDGS_5_UNITS', 'BLDGS_5_UNITS_REP', 'CBSA_CODE', 'CBSA_NAME',
       'CENSUS_PLACE_CODE', 'CENTRAL_CITY', 'COUNTY_CODE', 'COUNTY_NAME',
       'CSA_CODE', 'DIVISION_CODE', 'DIVISION_NAME', 'FILE_NAME',
       'FIPS_COUNTY_5_DIGITS', 'FIPS_MCD_CODE', 'FIPS_PLACE_CODE',
       'FOOTNOTE_CODE', 'ID_6_DIGIT', 'LOCATION_TYPE', 'MONCOV', 'MONTH',
       'NUMBER_OF_MONTHS_REP', 'PERIOD', 'PLACE_NAME', 'UNIQUE_PLACE_ID',
       'POP', 'REGION_CODE', 'REGION_NAME', 'SOURCE_CODE', 'STATE_CODE',
       'STATE_NAME', 'SURVEY_DATE', 'TOTAL_BLDGS', 'TOTAL_BLDGS_REP',
       'TOTAL_UNITS', 'TOTAL_UNITS_REP', 'TOTAL_VALUE', 'TOTAL_VALUE_REP',
       'UNITS_1_UNIT', 'UNITS_1_UNIT_REP', 'UNITS_2_UNITS',
       'UNITS_2_UNITS_REP', 'UNITS_3_4_UNITS', 'UNITS_3_4_UNITS_REP',
       'UNITS_5_UNITS', 'UNITS_5_UNITS_REP', 'VALUE_1_UNIT',
       'VALUE_1_UNIT_REP', 'VALUE_2_UNITS', 'VALUE_2_UNITS_REP',
       'VALUE_3_4_UNITS', 'VALUE_3_4_UNITS_REP', 'VALUE_5_UNITS',
       'VALUE_5_UNITS_REP', 'YEAR', 'ZIP_CODE', 'LOCATION_NAME'],
      dtype='object')

### Subset to Morris County

In [81]:
df_nj = df[df["STATE_NAME"] == "New Jersey"]

In [82]:
df_morris = df_nj[df_nj["COUNTY_NAME"] == "Morris County"]

In [83]:
df_morris.shape

(35861, 62)

### Need to rename town names

In [84]:
change_dict = {'Boonton town':'Boonton Town','Boonton township':'Boonton Township','Butler borough':'Butler Borough','Chatham borough':'Chatham Borough','Chatham township':'Chatham Township','Chester borough':'Chester Borough','Chester township':'Chester Township','Denville township':'Denville Township','Dover town':'Dover Town','East Hanover township':'East Hanover Township','Florham Park borough':'Florham Park Borough','Hanover township':'Hanover Township','Harding township':'Harding Township','Jefferson township':'Jefferson Township','Kinnelon borough':'Kinnelon Borough','Lincoln Park borough':'Lincoln Park Borough','Long Hill township':'Long Hill Township','Madison borough':'Madison Borough','Mendham borough':'Mendham Borough','Mendham township':'Mendham Township','Mine Hill township':'Mine Hill Township','Montville township':'Montville Township','Morris township':'Morris Township','Morris Plains borough':'Morris Plains Borough','Morristown town':'Morristown Town','Mountain Lakes borough':'Mountain Lakes Borough','Mount Arlington borough':'Mount Arlington Borough','Mount Olive township':'Mount Olive Township','Netcong borough':'Netcong Borough','Parsippany-Troy Hills township':'Parsippany-Troy Hills Township','Pequannock township':'Pequannock Township','Randolph township':'Randolph Township','Riverdale borough':'Riverdale Borough','Rockaway borough':'Rockaway Borough','Rockaway township':'Rockaway Township','Roxbury township':'Roxbury Township','Victory Gardens borough':'Victory Gardens Borough','Washington township':'Washington Township','Wharton borough':'Wharton Borough'}

df_morris.replace({'LOCATION_NAME': change_dict}, inplace=True)

In [85]:
# Should be 39, so we have to exclude some outliers
df_morris.LOCATION_NAME.nunique()

59

In [86]:
towns = list(pd.read_csv('../MorrisCountyImages/csv/morris_towns.csv').towns)
df_morris = df_morris[df_morris.LOCATION_NAME.isin(towns)]
df_morris.LOCATION_NAME.nunique()

39

### Subset to useful columns, (not including reported values, but rather estimated with imputations)

In [87]:
meaningful_columns = ['BLDGS_1_UNIT','BLDGS_2_UNITS','BLDGS_3_4_UNITS','BLDGS_5_UNITS','TOTAL_BLDGS',
                    'TOTAL_UNITS','TOTAL_VALUE','UNITS_1_UNIT','UNITS_2_UNITS','UNITS_3_4_UNITS',
                    'UNITS_5_UNITS', 'VALUE_1_UNIT', 'VALUE_2_UNITS','VALUE_3_4_UNITS', 'VALUE_5_UNITS']

In [88]:
df_morris

,BLDGS_1_UNIT,BLDGS_1_UNIT_REP,BLDGS_2_UNITS,BLDGS_2_UNITS_REP,BLDGS_3_4_UNITS,BLDGS_3_4_UNITS_REP,BLDGS_5_UNITS,BLDGS_5_UNITS_REP,CBSA_CODE,CBSA_NAME,...,VALUE_1_UNIT_REP,VALUE_2_UNITS,VALUE_2_UNITS_REP,VALUE_3_4_UNITS,VALUE_3_4_UNITS_REP,VALUE_5_UNITS,VALUE_5_UNITS_REP,YEAR,ZIP_CODE,LOCATION_NAME
13999,1,NaN,0,NaN,0,NaN,1,NaN,35620.0,NaN,...,NaN,0,NaN,0,NaN,392000,NaN,2021,7930,Chester Borough
14000,0,NaN,0,NaN,0,NaN,0,NaN,35620.0,NaN,...,NaN,0,NaN,0,NaN,0,NaN,2021,7930,Chester Township
14001,0,NaN,0,NaN,0,NaN,0,NaN,35620.0,NaN,...,NaN,0,NaN,0,NaN,0,NaN,2021,7930,Chester Township
14002,2,NaN,0,NaN,0,NaN,0,NaN,35620.0,NaN,...,NaN,0,NaN,0,NaN,0,NaN,2021,78342122,Denville Township
14003,1,NaN,0,NaN,0,NaN,0,NaN,35620.0,NaN,...,NaN,0,NaN,0,NaN,0,NaN,2021,78342122,Denville Township
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10294383,0,0.0,0,0.0,0,0.0,1,1.0,35620.0,NaN,...,0.0,0,0.0,0,0.0,386800,386800.0,2024,7866,Rockaway Township
10294384,2,2.0,0,0.0,1,1.0,0,0.0,35620.0,NaN,...,510140.0,0,0.0,142000,142000.0,0,0.0,2024,7852,Roxbury Township
10294385,0,0.0,0,0.0,0,0.0,0,0.0,35620.0,NaN,...,0.0,0,0.0,0,0.0,0,0.0,2024,7801,Victory Gardens Borough
10294386,0,0.0,0,0.0,0,0.0,0,0.0,35620.0,NaN,...,0.0,0,0.0,0,0.0,0,0.0,2024,78530216,Washington Township
10294387,0,0.0,0,0.0,0,0.0,1,1.0,35620.0,NaN,...,0.0,0,0.0,0,0.0,1772100,1772100.0,2024,7885,Wharton Borough

In [89]:
# Percent of total population
new_df = pd.DataFrame()
new_df["town"] = df_morris.LOCATION_NAME.sort_values(ascending=True).unique()
#town_pop = df_comb.groupby('Park_Place')["SUM_TOTPOPSVCA"].sum()

for var in meaningful_columns:
    new_col = df_morris.groupby('LOCATION_NAME')[var].sum().values
    new_df[var] = new_col

### Drop some columns for better model

In [91]:
new_df.drop(['BLDGS_1_UNIT', 'BLDGS_2_UNITS','BLDGS_3_4_UNITS', 'BLDGS_5_UNITS', 'TOTAL_BLDGS'],inplace=True,axis=1)
new_df.columns

Index(['town', 'TOTAL_UNITS', 'TOTAL_VALUE', 'UNITS_1_UNIT', 'UNITS_2_UNITS',
       'UNITS_3_4_UNITS', 'UNITS_5_UNITS', 'VALUE_1_UNIT', 'VALUE_2_UNITS',
       'VALUE_3_4_UNITS', 'VALUE_5_UNITS'],
      dtype='object')

In [92]:
new_df.to_csv("morrisCountyBPS.csv", index=False)